/* Header Component */
.main-header {
    display: flex;
    justify-content: space-between
}
.main-logo {
    height: 50px;
    width: 50px;
    background-image: url(https://png.pngtree.com/png-clipart/20200720/original/pngtree-baby-dummy-newbie-nipple-noob-purple-business-logo-template-png-image_4358059.jpg);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
/* Navbar Component */
nav {
    display: flex;
    align-items: center;
}

nav a {
    border: 1px solid #000;
    padding: 8px;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
}
.banner-img {
    height: 350px;
    background-size: cover;
    background-position: center;
}
.img-1 {
    background-image: url(https://images.unsplash.com/photo-1749498451383-3743a22bec42?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMnx8fGVufDB8fHx8fA%3D%3D);
}
.img-2 {
    background-image: url(https://images.unsplash.com/photo-1615226883732-3d04fd67c298?q=80&w=1473&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.img-3 {
    background-image: url(https://images.unsplash.com/photo-1749569338796-cc9cc311467d?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

section {
    height: 500px;
}

/* Footer Component */
footer {
    text-align: center;
}